<div class="searchBar">
    <div class="container">
        <form action="search" class="class_form" role="search" method="POST">

            <input type="search" aria-label="Search" id="searchInput" name="searchTerm" placeholder="Serch the site..">
        </form>
        <div id="searchClose"><b>Close</b></div>
    </div>
</div>